<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
    </style>
    <link rel="shortcut icon" href="/imgs/logo.png">
    <link rel="stylesheet" type="text/css" href="css/header.css">
</head>

<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">

        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1','2','3']">
                <el-submenu index="1" >
                    <template slot="title"><i class="el-icon-s-home"></i>病人管理</template>
                    <el-menu-item index="1-1" @click="changeToInReg">病人登记</el-menu-item>
                    <el-menu-item index="1-2" @click="changeToInQuery">病人查询</el-menu-item>
                    <el-menu-item index="1-3" @click="changeToOutQuery">出院病人查询</el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-s-data"></i>统计中心</template>
                    <el-menu-item index="2-1" @click="changeToPatientData">病人统计</el-menu-item>
                    <el-menu-item index="2-2" @click="changeToRoomData">病房统计</el-menu-item>
                    <el-menu-item index="2-3" @click="changeToMedData">医生统计</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>
        <el-container>
            <el-header style="text-align: right; height:100px; font-size: 12px; background-color: rgb(85,108,147)">
                <div class="headerdiv">
                    <img src="imgs/logo.png" alt="" width="80px" height="80px">
                    <span class="name">病人管理系统——出院病人查询</span>
                </div>
                <el-button type="info" round="true" size="medium" @click="logout">退出</el-button>
            </el-header>

            <el-main>
                <el-form :inline="true" :model="patient" class="demo-form-inline">
                    <el-form-item label="姓名">
                        <el-input v-model="patient.pName" placeholder="姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-select v-model="patient.pSexual" placeholder="请选择">
                            <el-option label="男" value="男"></el-option>
                            <el-option label="女" value="女"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                </el-form>

                <!--表格-->
                <template>
                    <el-table
                            :data="tableData"
                            style="width: 100%"
                            :row-class-name="tableRowClassName"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                prop="pID"
                                label="住院号"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="pName"
                                label="病人姓名"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="pAge"
                                label="病人年龄"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="pSexual"
                                align="center"
                                label="病人性别">
                        </el-table-column>
                        <el-table-column
                                prop="pNotice"
                                align="center"
                                label="既往病史/用药过敏">
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-row>
                                    <el-button type="danger" @click="delPatient(scope.row)">删除记录</el-button>
                                </el-row>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-main>
        </el-container>
    </el-container>

</div>



</body>
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        mounted(){
            this.selectAll();
        },
        data() {
            return {
                //每页显示条数
                pageSize:5,
                //总记录数
                totalCount:100,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogFormVisible: false,
                dialogFormVisible_InHospital: false,
                formLabelWidth: '120px',
                tableData: [],
                patient: {

                },
                form: {
                },
                WindowData: {
                    pID:"",
                    pName:"",
                    pAge:"",
                    pSexual:"",
                    pRoomId:"",
                    pBedId:""
                },
                pickerOptions: {
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
            }
        },
        methods:{
            //入院登记
            changeToInReg(){
                window.location.href="/PatientInfoSystem/mInReg.html";
            },
            //住院查询
            changeToInQuery(){
                window.location.href="/PatientInfoSystem/mInQuery.html";
            },
            //出院查询
            changeToOutQuery(){
                window.location.href="/PatientInfoSystem/mOutQuery.html";
            },
            //病人统计
            changeToPatientData(){
                window.location.href="/PatientInfoSystem/mPatientData.html";
            },
            //病房统计
            changeToRoomData(){
                window.location.href="/PatientInfoSystem/mRoomData.html";
            },
            //药品统计
            changeToMedData(){
                window.location.href="/PatientInfoSystem/mMedData.html";
            },
            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                // 重新设置每页显示的条数
                this.pageSize  = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                // 重新设置当前页码
                this.currentPage  = val;
                this.selectAll();
            },
            selectAll(){
                axios({
                    method:"post",
                    url:"http://localhost:8080/PatientInfoSystem/patient/selectAll",
                    data:this.patient
                }).then(resp=>{
                    this.tableData = resp.data;
                })
            },
            //表行的类名
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            onSubmit() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/PatientInfoSystem/patient/selectByCondition",
                    data: this.patient
                }).then(resp => {
                    console.log(this.patient)
                    this.tableData = resp.data;
                })
            },
            logout(){
                window.location.href="/PatientInfoSystem/login.jsp"
            },
            JumpWindow(row){
                this.dialogFormVisible = true;
                this.WindowData = row;
                console.log(this.WindowData);
                // updatePatient();
            },
            //修改病人信息，修改时不变住院号，但要把住院号隐式传入
            updatePatient() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/PatientInfoSystem/patient/updatePatient",
                    data: this.WindowData
                }).then(resp => {
                    this.$message({
                        showClose: true,
                        message: '修改成功！',
                        type: 'success'
                    });
                    this.dialogFormVisible = false
                    this.selectAll();
                })
            },
            ConfirmDelete(row){
                this.$confirm('此操作将永久删除该病人, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.delPatient(row);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            delPatient(row){
                this.$confirm('此操作将删除该病人记录 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/PatientInfoSystem/patient/delPatient",
                        data: row
                    }).then(resp => {
                        if(resp.data == "success"){
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                            this.selectAll();
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            OutHospital(row){
                this.$confirm('此操作将该病人出院, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/PatientInfoSystem/patient/outHospital"
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消出院'
                    });
                });
            }

        }
    });
</script>
<style>
     .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

     .el-main {
         color: #333;
         line-height: 60px;
         margin: 50px auto;
         align: 10px;
     }
</style>
</html>